<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" >
    <title>AI Follow Tracker</title>
</head>
<body>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="file">Upload Zip File</label>
        <input type="file" name="file" accept=".zip" required>
        <button type="submit">Submit</button>
    </form>
    <div class="container">
        <form method="post">
            <input type="text" placeholder="Message" name="input">
            <button type="submit">Send</button>
        </form>
    <div id="history">
    </div>
        {% if result %}
         <ul>
            {% for message in chat_log %}
                <li><strong>{{ message.role.capitalize() }}:</strong> {{ message.content }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if result %}
        <h3>Users not following you back:</h3>
        <ul>
           {% for user in result %}
               <li>@{{ user }}</li>
           {% endfor %}
       </ul>
       {% endif %}
    </div>
</body>
</html>